# SECRET_KEY for your Django project
# SECRET_KEY = '0123456789'
SECRET_KEY = 


# Your email address
# EMAIL_HOST_USER = 'example@example.ru'
EMAIL_HOST_USER = 


# Your Mail password
# EMAIL_HOST_PASSWORD = '0123456789'
EMAIL_HOST_PASSWORD = 
